.Landing {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.LandingButton {
  position: absolute;
  bottom: 20vh;
}
