/* .homeContent {
  background: var(--ion-background-color) !important;
} */

/* .searchBar .searchbar-input-container .searchbar-search-icon {
  display: none !important;
  width: 0;
  height: 0;
} */

.fab {
  /* margin-bottom: 75px; */
}
